body {
    background-color: #f4f4f9;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #c10000;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    padding: 2rem;
}

.btn-primary {
    background-color: #c10000;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
}

.btn-primary:hover {
    background-color: #e02e2e;
}

.alert {
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
}

.text-center {
    margin-top: 15px;
}
